<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="style.css">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pedro Henrique</title>
</head>
<body>
 <header>
    <div class="links">
        <a href="http://www.github.com/dashboard">Github</a>
        <a href="http://www.instagram.com/Pedro.rokuro">instagram</a>
        <a href="http://www.linkedin.com/in/Pedro Henrique Ferreira">linkedinS</a>
        <a href="/videos">Videos Dinamicos</a>
    </div>
    
 </header>
        <div id="box">
            <img src="https://avatars.githubusercontent.com/u/150456318?v=4" alt="">
            <h1>Pedro Henrique</h1>
            <h2>Aluno - massancode</h2>
           <p>programador <a href="http:///www.github.com/dashboard"target="_blank">My Jobs</a></p>
            
        
        
        </div>

        <div id="linksfooteer" class="links">
            <a href="http://www.github.com/dashboard">Github</a>
            <a href="http://www.instagram.com/Pedro.rokuro">instagram</a>
            <a href="http://www.linkedin.com/in/Pedro Henrique Ferreira">linkedinS</a>
        </div>

</body>
</html>