<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="style.css">

   
    <title>Pedro Henrique</title>
   
    <head>
</head>
<body>
 <header>
    <div class="links">
        <a href="http://www.github.com/dashboard">Github</a>
        <a href="http://www.instagram.com/Pedro.rokuro">instagram</a>
        <a href="http://www.linkedin.com/in/Pedro Henrique Ferreira">linkedinS</a>
       {% block videos %}

       {% endblock %}
    </div>
    
 </header>
        {% block content %} 



        {% endblock %}

        <div id="linksfooteer" class="links">
            <a href="http://www.github.com/dashboard">Github</a>
            <a href="http://www.instagram.com/Pedro.rokuro">instagram</a>
            <a href="http://www.linkedin.com/in/Pedro Henrique Ferreira">linkedinS</a>
        </div>

</body>
</html>